body {
	background: url(../images/pinstripes.png) #EFEFEF;
	font-family: Arial;
	padding:0;
	margin:0;
}
#container {
	padding: 0;
}
#content {
	padding: 4px;
}
#nav {
	height: 35px;
	background: url(../images/header-bg.png) repeat-x;
	list-style: none;
	font-size: 25px;
	font-weight: 600;
	margin-top: 0;
}
#nav li {
	display: inline;
}
#nav li a {
	padding-left: 8px;
	padding-right: 8px;
	color: #272727;
	text-decoration: none;
}
.pane ul, .pane fieldset {
	border: 1px solid #999;
	list-style: none;
	list-style-position: inside;
	padding-left: 0;
	min-height: 40px;
	-webkit-border-radius: 5px;
	background: #fff;
}
.pane fielset ul {
	-webkit-border-radius: none;
}
.pane ul li {
	padding: 10px 2px 0 5px;
	border-bottom: 1px solid #909090;
	position: relative;
	min-height: 40px;
	padding-right: 104px;
	font-family: "Arial";
	font-weight: 700;
	color: #646464;
}
.pane li div.button {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 81px;
	height: 28px;
	padding-top: 8px;
	-webkit-border-image: url(../images/whiteButton.png) 0 12 0 12;
/*	background: url(../images/download.png) 0 0 no-repeat; */
	text-align: center;
	cursor: pointer;
	color: #fff;
	text-shadow: #000000 2px 2px 3px 3px;
}

div.form_element {
	margin-left: 4px;
	margin-right: 8px;
}
label {
	font-family: Arial;
	font-weight: 600;
}
#keyword {
	font-size: 20px;
	width: 100%;
}
.title {
	text-align: center;
}
#loader {
	text-align: center;
	padding-right: 5px !important;
}
.loader {
	text-align: center;
	
	height: 30px;
	position: relative;
	color: #272727;
	margin-left: 4px;
}
.loader .info {
	height: 30px;
	position: absolute;
	bottom: 0;
	left: center;
	width: 100%;
	border: 1px solid #3472F5;
}
.loader .bar {
	position: absolute;
	bottom: 2px;
	height: 28px;
	margin-left: 2px;
	margin-right: 2px;
	background: #E0DEF2;
	z-index: 0;
	white-space: nowrap;
}
